@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@400;500&display=swap');

$body-background:#f7f7f7;
$wrapper-background: #fff;
$header-form-border-bottom: #e6e6e6;

$form-input-border: #ccc;
$form-button-input-background:#333;
$form-button-input-text: #fff;
$form-error-txt:#ff5466;
$form-error-background:#ffdfe2;
$form-error-border:#ff5466;
$form-link-a:#333;
$form-i-eye:#ccc;
$form-i-eye-active:#333;

$user-text:#000;
$user-logout-text:#fff;
$user-button-logout-background:#333;
$users-line-separator:#e6e6e6;

$search-input-border:#CCC;
$search-glass:#333;
$search-glass-invisible-background:#fff;
$search-cross:#fff;
$search-cross-background:#333;

$users-list-dashed-line:#ccc;
$users-list-last-message:#67676a;
$users-status-dot-online:#2bbb7a;
$users-status-dot-offline:#ccc;

$outgoing-background-message:#333;
$outgoing-text:#fff;
$incoming-background-message:#fff;
$incoming-text:#333;

$back-icon:#333;
$chat-box-background:#f7f7f7;
$typing-area-input-border:#ccc;
$send-icon-background:#333;
$send-icon-color:#fff;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $body-background;
}
.wrapper{
    background-color: $wrapper-background;
    width: 450px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.15);
    border-radius: 16px;
}

///   Signup + Login Form   ///
.form{
    padding: 25px 30px;
}

.form header{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid $header-form-border-bottom;
    padding-bottom: 10px;
}

.form form{
    margin: 20px O;
}

.form form .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.form form .field label{
    margin-bottom: 2px;
    font-weight: 500;
}

.form form .field input{
    outline: none;
}

.form form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid $form-input-border;
    border-radius: 5px;
}

.form form .photo input{
    font-size: 16px;
}

.form form .button input{
    font-size: 16px;
    margin-top: 13px;
    height: 45px;
    border: none;
    background-color: $form-button-input-background;
    color: $form-button-input-text;
    border-radius:5px;
    cursor: pointer;
}

.form form .error-txt{
    color: $form-error-txt;
    background-color: $form-error-background;
    font-weight: 500;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid $form-error-border;
    display: none;
}

.form .link {
    text-align: center;
    margin: 10px 0;
}

.form .link a{
    color: $form-link-a;
    text-decoration: underline;
}

.form .link a:hover{
    text-decoration: none;
}

.form form .field i{
    position: absolute;
    right: 15px;
    color: $form-i-eye;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
}
.form form .field i.active::before{
    color: $form-i-eye-active;
    content: "\f070";
}

///   Users   ///
.users {
    padding: 25px 30px;
}

.users header,
.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $users-line-separator;
    padding-bottom: 20px;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

:is(.users, .users-list ) .content{
    display: flex;
    align-items: center;
}

.users header .content img{
    height: 50px;
    width: 50px;
}

:is(.users, .users-list ) .details{
    color: $user-text;
    margin-left: 15px;
}

:is(.users, .users-list ) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users header .logout{
    font-size: 15px;
    color: $user-logout-text;
    padding: 7px 15px;
    background-color: $user-button-logout-background;
    border-radius: 5px;
}

.users .search{
    margin: 20px 0;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.users .search .text{
    font-size: 17px;
}
.users .search input{
    position: absolute;
    height: 40px;
    width: 87%;
    border: 1px solid $search-input-border;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.users .search input.active{
    opacity: 1;
    pointer-events: auto;
}

.users .search button{
    width: 51px;
    height: 40px;
    border: none;
    outline: none;
    color: $search-glass;
    background-color: $search-glass-invisible-background;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease;
}

.users .search button.active{
    color: $search-cross;
    background-color: $search-cross-background;
}

.users .search button.active i::before{
    content: "\f00d";
}

.users-list {
    max-height: 350px;
    overflow-y: auto;
}

:is(.users-list, .chat-box)::-webkit-scrollbar {
    width: 0px;
}
.users-list a{
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-bottom-style: dashed;
    border-color: $users-list-dashed-line;
}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;
}

.users-list a .content img{
    height: 40px;
    width: 40px;
}
.users-list a .content p{
    color: $users-list-last-message;
}
.users-list a .status-dot{
    font-size: 12px;
    color: $users-status-dot-online;
}

// offline status //
.users-list a .status-dot.offline{
    font-size: 12px;
    color: $users-status-dot-offline;
}


///   Chat Area   ///
.chat-area header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.chat-area header .back-icon{
    font-size: 15px;
    color: $back-icon;
}

.chat-area header span{
    font-size: 17px;
    font-weight: 500;
}

.chat-box{
    height: 500px;
    overflow-y: auto;
    background: $chat-box-background;
    padding: 10px 30px 20px 30px;
    box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
                inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}

.chat-box .chat{
    margin: 15px 0;
}

.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing{
    display: flex;
}

.outgoing .details{
    margin-left: auto;
    max-width: 60%;
}

.outgoing .details p{
    background-color: $outgoing-background-message;
    color: $outgoing-text;
    border-radius: 18px 18px 0 18px;
}

.chat-box .incoming{
    display: flex;
    align-items: flex-end;
}

.chat-box .incoming img{
    height: 35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: 60%;
}

.incoming .details p{
    background-color: $incoming-background-message;
    color: $incoming-text;
    border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input{
    height: 45px;
    width: 85%;
    font-size: 16px;
    border: 1px solid $typing-area-input-border;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button{
    background-color: $send-icon-background;
    color: $send-icon-color;
    font-size: 19px;
    cursor: pointer;
    width: 14%;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
}